<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="settings_modal_header" align="center">Settings</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal" id="settings_data">
	  <% Rixeye::Application.config.rixeye_settings.keys.each do |key| %>
	  	<%= create_settings_modal(key) %>
	  <% end %>
	</form>
</div>
<div class="modal-footer">
  <button class="btn btn-large btn-block btn-success" data-dismiss="modal" type="button">Dismiss</button>
</div>